table {
    width: 60%;
    margin: auto;
    background: steelblue;
    padding: 3% 40px;
    border-radius: 20px;
    color: whitesmoke;
    border-spacing: 1px;
    font-size: 110%;
}

h1 {
    text-align: center;
    background: steelblue;
    color: whitesmoke;
    padding: 20px;
}

td {
    text-align: center;
    border-bottom: 1px solid white;
    height: 35px;
}

.blanco {
    color: black;
    background-color: whitesmoke;
}

.gris {
    color: black;
    background-color: #cccccc;
}

.cabecera {
    background-color: #333;
    font-size: 120%;
}

.boton-editar {
    background-color: teal;
    padding: 4px 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.boton-editar:hover {
    background-color: rgb(4, 160, 160);
    transition: 0.3s;
}

.boton-borrar {
    background-color: rgb(172, 64, 37);
    padding: 4px 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.boton-borrar:hover {
    background-color: rgb(211, 78, 45);
    transition: 0.3s;
}

.cerrar-sesion {
    background-color: #333;
    width: 100px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.cerrar-sesion:hover {
    background-color: rgb(95, 95, 95);
    transition: 0.3s;
}

.cerrar-sesion a {
    color: whitesmoke;
    text-decoration: none;
}